.banner-animation {
    height: 400px;
    width: 400px;
}

.line-number {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

.responsive-lines {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

.services-img {
    width: 110px;
    height: 110px;
}

.development-card-img {
    width: 80px;
    height: 80px;
}

.digital-mark-image {
    width: 60px;
    height: 60px;
}

@media only screen and (max-width: 600px) {
    .banner-animation {
        width: 100%;
        height: auto;
    }

    .line-number {
        -webkit-line-clamp: 5;
    }

    .responsive-lines {
        -webkit-line-clamp: 3;
    }

    .services-img {
        width: 50%;
        height: auto;
    }

    .development-card-img {
        width: 50%;
        height: auto;
    }

    .digital-mark-image {
        width: 50%;
        height: auto;
    }
}